{{!-- DashaIhnatiuk_dev, не знаю что ето, если нужно разкоменть --}}
{{!-- {{#each this}}
<div class="card">
  <img class="card__picture" src='{{imageUrls}}' alt="">
  <div class="card__description">
    <h3 class="card__title">{{description}}</h3>
    <p class="card__price">{{price}}</p>
  </div>
</div>
{{/each}} --}}


<li class="card__item">
  <article>
    <a href="#" class="card__link">
      <div class="card__container">
        <img class="card__picture" {{#if imageUrls}} src='{{imageUrls}}' {{else}}
          src="../images/photo_is_coming_soon.jpg" {{/if}} alt="{{title}}">
        <div class="card__position">

          <div class="icons-container">
            <span data-like data-id="{{_id}}" class=" material-icons card__icons">favorite_border</span>
          </div>
          <div class="icons-container">
            <span data-create data-id="{{_id}}" class=" material-icons card__icons authorized">create</span>
          </div>
          <div class="icons-container">
            <span data-open data-id="{{_id}}" class="material-icons card__icons">fullscreen</span>
          </div>

        </div>
      </div>
      <div class="card__description">
        <h4 class="card__title">{{title}}</h4>
        <p>{{#if oldPrice}}<span class="card__price del"><span
              class="card__price old">{{oldPrice}}</span></span>{{/if}}<span class="card__price new">{{price}}
            грн</span></p>
      </div>

    </a>
  </article>
</li>
{{!--
<li class="card splide__slide">
  <a href="" class="card__link"></a>
  <img class="card__picture" {{#if imageUrls}} src='{{imageUrls}}' {{else}} src="../images/photo_is_coming_soon.jpg"
    {{/if}} alt="{{title}}">
  <div class="card__description">
    <h4 class="card__title">{{title}}</h4>
    <p>{{#if oldPrice}}<span class="card__price del"><span
          class="card__price old">{{oldPrice}}</span></span>{{/if}}<span class="card__price new">{{price}}
        грн</span></p>
  </div>
  <div class="card__overlay">
    <div class="icons-container">
      <span data-like data-id="{{_id}}" class=" material-icons card__icons">favorite_border</span>
    </div>
    <div class="icons-container">
      <span data-create data-id="{{_id}}" class=" material-icons card__icons authorized">create</span>
    </div>
    <div class="icons-container">
      <span data-open data-id="{{_id}}" class="material-icons card__icons">fullscreen</span>
    </div>
  </div>
  </a>
</li> --}}